@import '~@angular/material/theming';
@import "colors";

$custom-typography: mat-typography-config(
  $font-family: "Montserrat",
  $headline: mat-typography-level(32px, 48px, 500),
  $caption: mat-typography-level(15px, 20px, 500)
);

@include mat-core($custom-typography);
