/* You can add global styles to this file, and also import other style files */
@import "app/styles/colors";

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $primary-blue !important;
}

.mat-form-field-underline {
  /*change color of underline*/
  background-color: $primary-blue !important;
}

.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $primary-blue !important;
}

.cdk-overlay-pane {
  .error-snackbar {
    margin: 0 !important;
    min-height: unset;
    padding: 0;
    height: 32px;
    max-width: 45vw;
    border-radius: 0 0 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $red;

    .mat-simple-snackbar {
      font-size: 1rem;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      color: white;
    }
  }
}
